body{
	margin: 0;
	background: #8DB6CB;
}

*{
	font-family: sans-serif;
}

#container{
	position: relative;
	width: 930px;
	margin: auto;
}

header, section, aside, footer{
	padding: 20px;
}

header{
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	/*background-image: linear-gradient(to right top, #aa2424, #942828, #7d2b2b, #662c2c, #4f2c2c);*/
	/*background: #d13044;*/
	background: url(../img/bghe2.png);
	background-size: cover;
	background-position: center center;
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 140%;
	padding: 20px;
}

h1{
	font-family: 'Carter One', cursive;
}

section{
	/*background-image: linear-gradient(to right top, #0f290d, #163c15, #1e501c, #276522, #307a29);*/
	background-image: url(../img/bgas9.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background: #ad70a8;*/
	width: 100%;
	border-bottom-left-radius: 30px;
}

aside{
	border-bottom-right-radius: 30px;
	/*background-image: linear-gradient(to left top, #1f2025, #1a1b1f, #16161a, #101014, #09080d);*/
	/*background-image: url(../img/bgaside.png);*/
	background: linear-gradient(to top, #bbbbbb, #dbdbdb, #ececec);
	background-size: cover;
	float: right;
	right: 0;
	/*padding: 40px;*/
	width: 450px;
	/*z-index: 1;*/
	display: flex;
	flex-flow: wrap row;
	justify-content: center;
	z-index: 8px;
}

footer{
	background: black;
	color: #fff;
	font-weight: bold;
	text-align: right;
	margin-top: 30px;
}

#middle{
	position: relative;
	display: flex;
	justify-content: space-between;
	background: #dbdbdb;
	/*min-height: 100vh;*/
	border-radius: 30px;
}


/*Contenedor del juego, hijo del Section*/

#contenido{
	width: 100%;/*960ps*/
	height: 780px;
	padding: 20px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: flex;
	/*justify-content:  flex-end;*/
	background: rgb(255,255,255,0.40);
	/*float: right;*/
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;

}


.numeracion{ /*Contenedor de la numeracion inicial*/
	/*background: #0b2257;*/
	float: left;
	border-radius: 14px;
	/*margin: 10px;*/
}

.ng{ /*numeracion general inicial*/
	width: 45px; height: 45px;
	/*background-image: linear-gradient(to left top, #40404b, #08080a);*/
	/*background: #fff;*/
	color: #fff;
	border-radius: 100px;
	line-height: 45px;
	font-weight: bold;
	font-style: italic;
	margin: 6px;
	text-align: center;
	text-shadow: 2px 2px 0px black;
}

.cartonJugador{ /*Numeros hasta el 75 CONTENEDOR*/
	padding: 10px;
	/*background: #1a0a32;*/
	width: 270px;
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;

}
.numeros{ /*Numeros hasta el 75*/
	flex-grow: 1;
	float: left;
	width: 45px; height: 45px;
	text-align: center;
	line-height: 45px;
	background: #f5fbd6;
	/*background: radial-gradient(circle, #fbfae2, #bbbbbb);*/
	border-radius: 10px;
	border: 1px solid #bbbbbb; /*Esta línea ayuda a que se mantenga ordenada la secuencia de 5*/
	/*box-shadow:inset 0px 0px 10px rgb(264,91,91,0.80);*/
	/*margin:2px;*/
}


.jugadores{
	flex-grow: 1;
	background: rgb(140,140,140,0.40);
	/*width: 200px;*/
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;
}

form{
	position: relative;
	height: 100%;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

input[type="text"]{
	width: 130px;
	padding: 14px;
	/*background: #000011;*/
	color: #00e411;
	outline: none;
	border-radius: 10px;
	border: none;
}


button{
	flex-grow: 1;
	margin-top: 20px;
	width: 100%;
	height: 80px;
	border: 0px solid #df1c34;
	border-radius: 40px;
	background: url(../img/btn4.png);
	background-size: cover;
	background-position: center center;
	outline: none;
	font-size: 130%;
 	font-weight:bold;
 	cursor: pointer;
 	transition: ease all 0.5s;
}

button:hover{
	transition: ease all 0.5s;
	font-style: italic;
	font-size: 150%;
	color: #fff;
	border:4px solid #fff;
	/*box-shadow: inset 0 0 23px #1D0623;*/
}

#barraEstado{
	width: 242px;
	height: 40px;
	font-size: 35px;
	margin-left: 25px;
	color: #F41515;
	font-style: italic;
	font-weight: bold;
	text-shadow: 3px 3px 0px black;
}

label{
	margin-left: 17px;
}


#barraFaltantes{  /*Esta sección muestra las bolillas faltantes para terminar el juego*/
	width: 242px;
	height: 150px;
	display: flex;
	/*border:4px solid #a255e8;*/

}

#barraHistorial{   /*Esta es la sección donde se muestra un historial de 4 bolillas*/
	width: 242px;
	height: 84px;
	/*border:4px solid #a255e8;*/
	display: flex;

}
#barraComandos{ /*Sección donde se encuentran los botones con lo que se interactúa*/
	/*background: blue;*/
	width: 242px;
	height: 220px;
	text-align: center;
	display: flex;
	flex-flow: wrap row;
	justify-content: center;
	align-content: center;
	align-items: center;
	align-self: center;
/*	border:4px solid #a255e8; -> coloqué este codigo para identificar visualmente las dimensiones del div */

}

#totalBolas{
	margin-top: 20px;
	font-size: 60px;
	color: #fff;
	text-shadow: 3px 3px 0px black;


}
#mostrarFaltantes{
	margin-top: 20px;
	font-size: 60px;
	color: #FF8500;
	text-shadow: 3px 3px 0px black;
}





.tachado{
  color: white;
  background-image: radial-gradient(circle, #ffb100, #d1880d, #a3620f, #74400c, #462202);
  
}
#bingo{
  text-align: center;
}

#bola{
  font-size:50px;
  font-weight: bold;
  display:block;
  margin: 20px auto;
  margin-top: 70px;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  /*border: 10px double #410851;*/
  border-radius: 50%;
  background-color: #fff;
  background: url(../img/bola.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  text-align:center;
}

#bolita, #bolita1, #bolita2, #bolita3{
  font-size:10px;
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 8px;
  margin-top: 16px;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #43334A;
  background: url(../img/bolita.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 120%;
  padding: 5px;
  /*border: 1px solid #202020;*/
  /*box-shadow: inset 0px 0px 13px black;*/
  color: #000;
  text-shadow: 0px 0px 10px #FFC800;
  text-align:center;

}

.etiqueta{
  text-align:center;
  margin: 10px auto;
}



#mostrarNumeroElegido{
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 30px;
	background-color:#fff0c9;
	border-radius: 50%;
	border:1px solid crimson;
	color:black;
	user-select:none;
}

#elegir{
	width: 50px;
	height: 50px;  
    display: table-cell;
    vertical-align:middle;
	user-select:none;
	-moz-user-select:none;
	cursor:pointer;
	background-color:#fff0c9;
	border-radius: 20%;
	border:1px solid crimson;
	margin-right:100px;
	color:black;

	
}

.botones{
	width: 80px;
	height: 50px;
	background-color:#fff0c9;
	border-radius: 20%;
	border:1px solid crimson;
	justify-content:center;
	align-items: center;
	margin-right:80px;
	display:flex;
	justify-content:center;
	align-items: center;
	user-select:none;
	-moz-user-select:none;
	box-shadow:0 0 13px black inset;
	user-select:none;
	-moz-user-select:none;
	cursor:pointer;
}


#jugar:hover, .botones:hover{

	background-color: white;
	box-shadow: 0 0 13px crimson inset;

}

image{

	max-width: 100%;
	vertical-align: top;

}


.boton{

	width:180px;
	height: 180px;
	background-color:#fff0c9;
	border-radius: 5%;
	border:6px solid crimson;
	display:flex;
	justify-content:center;
	align-items: center;
	font-size: 4em;
	box-shadow:0 0 13px black inset;
	user-select:none;
	-moz-user-select:none;
	right: 0;
	left: 0;
	margin:auto;


}

#tirar{

	width:180px;
	height: 180px;
	background-color:#fff0c9;
	border-radius: 50%;
	border:6px solid crimson;
	display:flex;
	justify-content:center;
	align-items: center;
	font-size: 4em;
	box-shadow:0 0 13px black inset;
	user-select:none;
	-moz-user-select:none;
	cursor:pointer;
	position:absolute;
	right: 0;
	left: 0;
	margin:auto;
	top:30px;

}

footer h2{
	text-align: center;
}

#tirar:hover, .boton:hover{

	background-color: white;
	box-shadow: 0 0 13px crimson inset;

}

#monedas img{

	width:100px;

}

#monedas{

	margin:10px 0 0 19px;

}

#velo{

	position: fixed;
	background-color: rgba(255,255,255,0.6);
	top:0;
	height: 100%;
	width: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	user-select:none;
	-moz-user-select:none;

}

#error{

	width: 30px;
	top:5px;
	right:5px;
	position: absolute;

}
 
#cuadro_mensaje{

	border:5px solid crimson;
	width: 500px;
	border-radius: 12px;
	position: relative;
	height: 100px;
	background-color:white;

}

#mensaje{

	font-size: 1.6em;
	color: crimson;
	text-align: center;

}

#mensaje img{
	width: 35px;
	margin: 2px;
}




/* Jugadores */

.numero{
  display:inline-block;
  border:2px solid #7327b8;
  width: 45px;
  line-height: 45px;
  border-radius: 50%;
  margin: 1px;
  text-align:center;  
}
.jugador1{
  color: white;
  font-weight:bold;
  background-color: magenta;
  
}
.jugador2{
  color: white;
  font-weight:bold;
  background-color: #303030;
  
}

.jugador3{
  color:#fff;
  font-weight:bold;
  background-color: #CD6A97;
  
}

.jugador4{
  color: white;
  font-weight:bold;
  background-color: #E8582C;
  
}

.jugador5{
  color: #0A5349;
  font-weight:bold;
  background-color: #51ECD7;
  
}

.jugador6{
  color: white;
  font-weight:bold;
  background-color: #679D34;
  
}
.jugador7{
  color: #303030;
  font-weight:bold;
  background-color: #ECEECD;
  
}
.jugador8{
  color: white;
  font-weight:bold;
  background-color: #7327b8;
  
}
.jugador9{
  color: white;
  font-weight:bold;
  background-color: gray;
  
}
.jugador10{
  color: white;
  font-weight:bold;
  background-color: #CD6A97;
  
}
.jugador11{
  color: white;
  font-weight:bold;
  background-color: #E8582C;
  
}
.jugador12{
  color: #032C3B;
  font-weight:bold;
  background-color: #51ECD7;
  
}
.jugador13{
  color: white;
  font-weight:bold;
  background-color: #679D34;
  
}
.jugador14{
  color: white;
  font-weight:bold;
  background-color: #ECEECD;
  
}
.jugador15{
  color: white;
  font-weight:bold;
  background-color: lime;
  
}
